---
import HunterstoryFaviconLayout from '@layouts/HunterstoryFaviconLayout.astro';
import '@assets/hunterstory/hunterstory.css';
import Navlink from './_navlink.astro';

interface Props {
  pageTitle: string; // Making 'title' a mandatory string prop
}

const { pageTitle } = Astro.props;

// const pages = import.meta.glob('./*.astro');

---

<HunterstoryFaviconLayout title={pageTitle}>
    <div style="display: grid; grid-template-columns: 230px 1fr; ">
        <div>
            <div style="position: fixed; top: 0; left: 0; width: 230px;">
                <b>Navigation</b><br>
                <ul style="list-style-type: none; padding-left: 10px; font-size: 15px;">                    
                    <li><Navlink curr={pageTitle} href="." title="Home" /></li>
                    <li>
                        <dl>
                        <dt><Navlink curr={pageTitle} href="hunterstoryguide" title="Hunterstory Guide" /></dt>
                        <dd><Navlink curr={pageTitle} href="missionssranks" title="Missions & S-Ranks" /></dd>
                        <dd><Navlink curr={pageTitle} href="skillguide" title="Skill Guide" /></dd>
                        <dd><Navlink curr={pageTitle} href="badges" title="Badges" /></dd>
                        <dd><Navlink curr={pageTitle} href="shops" title="Shops" /></dd>
                        <dd><Navlink curr={pageTitle} href="expcalculator" title="EXP Calculator" /></dd>
                        <dd><Navlink curr={pageTitle} href="tips" title="Tips" /></dd>
                        <dd><Navlink curr={pageTitle} href="glitches" title="Glitches" /></dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                        <dt><Navlink curr={pageTitle} href="mechanics" title="Mechanics" /></dt>
                        <dd><Navlink curr={pageTitle} href="spawning" title="Spawning" /></dd>
                        <dd><Navlink curr={pageTitle} href="damage" title="Damage" /></dd>
                        <dd><Navlink curr={pageTitle} href="scoring" title="Scoring" /></dd>
                        <dd><Navlink curr={pageTitle} href="savefile_data" title="Savefile Data" /></dd>
                        <dd><Navlink curr={pageTitle} href="mission_data" title="Mission Data" /></dd>
                        </dl>
                    </li>
                    <li><Navlink curr={pageTitle} href="credits_changelog" title="Credits/Changelog" /></li>
                    <li><Navlink curr={pageTitle} href="downloads" title="Downloads" /></li>
                    <li>&nbsp;</li>
                    <li><Navlink curr={pageTitle} classes="green" href="play" title="Play Hunterstory" /></li>
                    <li>&nbsp;</li>
                    <li><a href="..">&lt;&lt;&lt; Back</a></li>
                </ul>
            </div>
        </div>
        <div style="max-width: calc(100% - 20px); overflow: hidden;">
            <h1>{pageTitle}</h1>
		    <slot />
        </div>
    </div>
</HunterstoryFaviconLayout>

<style>
	html, body {
		margin: 0;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
	}
    
    th, td {
        border: 0px;
    }
</style>
