---
import '@assets/hunterstory/hunterstory.css';
import Navlink from './_navlink.astro';

interface Props {
  pageTitle: string; // Making 'title' a mandatory string prop
}

const { pageTitle } = Astro.props;

// const pages = import.meta.glob('./*.astro');

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{pageTitle}</title>
	</head>
	<body>
    <div style="display: grid; grid-template-columns: 230px 1fr; ">
        <div>
            <b>Navigation</b><br>
            <ul style="list-style-type: none; padding-left: 10px; font-size: 15px;">                    
                <li><Navlink curr={pageTitle} href="home.html" title="Home" /></li>
                <li>
                    <dl>
                    <dt><Navlink curr={pageTitle} href="hunterstoryguide.html" title="Hunterstory Guide" /></dt>
                    <dd><Navlink curr={pageTitle} href="missionssranks.html" title="Missions & S-Ranks" /></dd>
                    <dd><Navlink curr={pageTitle} href="skillguide.html" title="Skill Guide" /></dd>
                    <dd><Navlink curr={pageTitle} href="badges.html" title="Badges" /></dd>
                    <dd><Navlink curr={pageTitle} href="shops.html" title="Shops" /></dd>
                    <dd><Navlink curr={pageTitle} href="expcalculator.html" title="EXP Calculator" /></dd>
                    <dd><Navlink curr={pageTitle} href="tips.html" title="Tips" /></dd>
                    <dd><Navlink curr={pageTitle} href="glitches.html" title="Glitches" /></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                    <dt><Navlink curr={pageTitle} href="mechanics.html" title="Mechanics" /></dt>
                    <dd><Navlink curr={pageTitle} href="spawning.html" title="Spawning" /></dd>
                    <dd><Navlink curr={pageTitle} href="scoring.html" title="Scoring" /></dd>
                    <dd><Navlink curr={pageTitle} href="savefile_data.html" title="Savefile Data" /></dd>
                    <dd><Navlink curr={pageTitle} href="mission_data.html" title="Mission Data" /></dd>
                    </dl>
                </li>
                <li><a href="creditschangelog.html">Credits/Changelog</a></li>
                <li><Navlink curr={pageTitle} href="downloads.html" title="Downloads" /></li>
                <li>&nbsp;</li>
                <li><a href="..">&lt;&lt;&lt; Back</a></li>
            </ul>
        </div>
        <div style="max-width: calc(100% - 20px); overflow: hidden;">
            <h1>{pageTitle}</h1>
		    <slot />
        </div>
    </div>
</body>
</html>

<style>
	html, body {
		margin: 0;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
	}
    
    th, td {
        border: 0px;
    }
</style>
